<div class="top-header">
    <div class="container">
        <div class="flex flex-row">

            <div class="flex-grow">
                <div class="start">

                    <a class="btn-light active me-3"
                        (click)="toggleLang()">
                        {{"Lang" | translate}}
                    </a>

                    <a class="btn-primary" (click)="googleSignIn()">
                        {{ "Login" | translate}}
                    </a>

                </div>
            </div>

            <div class="flex-grow">

                <div class="end">

                    <ul class="reset-list top-menu">


                        <li *ngFor="let item of coursesList" class="menu-item">
                            <a
                                class="btn-light"
                                [ngClass]="[ coursesId == item.id ? 'active': '']"
                                (click)="onNavOpenTopics(item.id)">
                                {{ item.title }}
                                {{ item.id }}
                            </a>
                        </li>
                    </ul>

                    <a> <img src="../assets/logo.svg" class="img-fluid logo"> </a>

                </div>

            </div>

        </div>
    </div> <!-- container -->
</div><!-- top-header -->

