<app-course-navbar activeNav="text" topicName="{{topicName}}" coursesId="{{coursesId}}" topicId="{{topicId}}"></app-course-navbar>

<div class="max-w-6xl mx-auto">
  <div class="grid grid-cols-12 gap-10" *ngIf="textList; else noDate">

    <div class="col-span-9">

      <div class="bg-white rounded-2xl p-8 text-lg mb-5">
        <div [innerHTML]="textDetails | safeHtml"></div>
      </div>

      <div class="co-btn">
        <a class="btn-primary" (click)="getTextLessonDetails(activetextItem + 1 )"> التالي </a>
      </div>

    </div> <!-- col-span-10 -->

    <div class="col-span-3">

      <div class="media-list">

        <div *ngFor="let item of textList" class="media-item">

          <div class="end"> 
            <div *ngIf="item.id !== 0" class="co-checkbox">
              <div class="flex items-center">
                <input id="default-checkbox" class="w-5 h-5 " type="checkbox"
                  value>
              </div> <!-- flex -->
            </div> <!-- co-checkbox --> 
          </div>

          <div class="start">
            <a (click)="getTextLessonDetails(item.id)"
              [ngClass]="activetextItem == item.id ? 'active' : ''"
              class="co-media-name">
              {{item.titleAr}}</a>
          </div>

        </div>

      </div>



    </div> <!-- col-span-2 -->

  </div> <!-- grid grid-cols-12 -->

  <ng-template #noDate>
    <div class="no-data topics-list">
      <h1> No Data </h1>
    </div>
  </ng-template>

</div> <!-- max-w-6xl mx-auto -->
