<div class="details-bar mb-10">
    <div class="max-w-5xl mx-auto">
      <div class="grid grid-cols-5">
  
        <div class="co-btn">
          <a href="https://youtube.com" target="_blank" class="btn-link flex items-center content-center"> <i class="fa fa-soundcloud me-2"></i> <span
              class="text"> قائمة ساوند كلاود </span> </a>
        </div>
  
        <div class="co-btn">
          <a href="https://youtube.com/" target="_blank" class="btn-link flex items-center content-center"> <i class="fa fa-youtube-play me-2"></i> <span
              class="text"> قائمة يوتيوب </span> </a>
        </div>
  
        <div class="co-btn">
          <a class="btn-link flex items-center content-center" (click)="navText()"> <i class="fa fa-file me-2"></i> <span class="text me-2"> قراءة التدبر </span> </a>
        </div>
  
        <div class="co-btn">
          <a class="btn-link flex items-center content-center" (click)="navMedia()"> <i class="fa fa-play-circle me-2"></i>
            <span class="text me-2"> مشاهدة التدبر </span> </a>
        </div>
  
        <div class="co-btn">
          <a class="btn-link flex items-center content-center"> <span class="text">  {{topicName}}   </span> </a>
        </div>
  
      </div>
    </div>
  </div>
  